<h1>Hello <%= current_user.first_name %></h1>

<%= simple_form_for @calendar do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>

<%= form_tag import_calendars_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import CSV' %>
<% end %>

<% unless current_user.calendars.empty? %>
  <h3>You will earn <%= current_user.calendars.last.total_income(manager = true) %>€</h3>

  <ul>
  <h3><%= current_user.calendars.last.income_per_month(manager = true) %></h3>
    <% current_user.calendars.last.specs.each do |spec| %>
      <li><%= spec %></li>
    <% end %>
  </ul>
<% end %>
